@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --color-canvas: #f8f8ff;
  --color-brand: #00327d;
  --color-brand-light: #0044a5;
}

body {
  background: var(--color-canvas);
  color: #1f2937;
}
